@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Open+Sans&display=swap');
@import 'reset.css';
@import 'status-bar.css';
@import 'variables.css';

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

.welcome-header {
  margin: 50px 0px 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.welcome-header__title {
  margin-bottom: 30px;
  font-size: 25px;
  line-height: 40px;
}

.welcome-header__text {
  margin-top: 30px;
  width: 60%;
  opacity: 0.5;
  line-height: 25px;
}

.welcome-header_log {
  width: 90px;
  height: 90px;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

.login-form input {
  margin-bottom: 20px;
  padding: 15px 0px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 20px;
  transition: border-color 0.2s ease-in-out;
}

.login-form input::placeholder {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.2);
}

.login-form input:focus {
  border-color: var(--mainColor);
}

.login-form input[type='submit'] {
  border-bottom: none;
  cursor: pointer;
  border-radius: 10px;
}

.login-form a {
  text-align: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  font-size: 13px;
}
