#no-mobile {
  background-color: var(--mainColor);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 99;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#no-mobile span {
  color: white;
  letter-spacing: 1px;
  font-size: 30px;
}

@media screen and (max-width: 500px) and (max-height: 700px) {
  #no-mobile {
    display: none;
  }
}
